//@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap");
@import url("https://github.com/Papillard/Avenir");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

* {
  box-sizing: border-box;
}

/**
* Shadows
*/

.shadow-none {
  box-shadow: none !important;
}

body {
  line-height: 1.5;
  font-family: fonts(alaje-avenir);
  font-size: 1rem;
  color: #333333;
  background-color: color(a-white);
  font-weight: normal;
  letter-spacing: 0.15px;
  overflow-x: hidden !important;
}

.shadow-1 {
  box-shadow: 0 1px 4px -1px $a-shadow !important;
}

.shadow-2 {
  box-shadow: 0 3px 12px -3px $a-shadow !important;
}

.shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) !important;
}

.shadow-3 {
  box-shadow: 0 5px 20px -5px $a-shadow !important;
}

.shadow-1-inverse {
  box-shadow: 0 -1px 4px -1px $a-shadow !important;
}

/*** Avatar ************** */

.avatar {
  margin: 0;
  color: color(a-white);
  border-radius: 50%;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  &::before {
    content: "";
  }
  img {
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  &.avatar-xs {
    height: 1rem !important;
    width: 1rem !important;
    font-size: calc(0.8rem - 4px);
  }
  &.avatar-sm {
    height: 1.5rem !important;
    width: 1.5rem !important;
    font-size: 0.8rem;
  }
  &.avatar-md {
    height: 2rem !important;
    width: 2rem !important;
    font-size: 1rem;
  }
  &.avatar-lg {
    height: 3rem !important;
    width: 3rem !important;
    font-size: 2rem;
  }
  &.avatar-xl {
    height: 5rem !important;
    width: 5rem !important;
    font-size: 2.5rem;
  }
}

/**
* Background Colors
*/

.bg-primary {
  background-color: color(bv-primary) !important;
}

.bg-success {
  background-color: color(a-success) !important;
}

.bg-error {
  background-color: color(a-error) !important;
}

.bg-warning {
  background-color: color(a-warning) !important;
}

.bg-white {
  background-color: color(a-white) !important;
}

.bg-grey-100 {
  background-color: color(a-grey-100) !important;
}

.bg-grey-200 {
  background-color: color(a-grey-200) !important;
}

.bg-grey-500 {
  background-color: color(a-grey-500) !important;
}

.bg-grey-800 {
  background-color: color(a-grey-800) !important;
}

.bg-grey-900 {
  background-color: color(a-grey-900) !important;
}
.bg-dark-purple {
  background: #211048 !important;
}
/**
* Overlays
*/

/**
* Text Colors
 */

.text-dark-purple {
  color: color(a-dark-purple) !important;
}

.text-dark {
  color: #000000 !important;
}
.text-pink {
  color: #b558f9;
}
.text-bold-purple {
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 119.6%;
  /* or 19px */

  text-align: center;

  color: color(a-dark-purple) !important;
}

.text-grey-50 {
  color: color(a-grey-50);
}
.text-grey-25 {
  color: color(a-grey-25);
}

.text-white {
  color: #ffffff !important;
}

.text-light-purple {
  background: linear-gradient(95.36deg, #01cbff 1.64%, #0193ff 100%) !important;
}

.text-light-yellow {
  background: linear-gradient(95.36deg, #f4a136 1.64%, #fcd000 100%);
}

.text-bold-black {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 150%;

  /* identical to box height, or 54px */
  color: #000000;
}
.text-black {
  color: #000000;
}

.text-bold-white {
  font-family: Avenir;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 150%;
  /* or 54px */

  color: #ffffff;
}
.text-red {
  color: #e41f2d !important;
}
.text-light-red {
  color: #fef4f4;
}
.text-green {
  color: #46cc8d;
}

/**
* Text Colors
 */

.overlay-65 {
  background-color: color(a-overlay-65) !important;
}

.overlay-80 {
  background-color: color(a-overlay-80) !important;
}

/**
Text weight
*/

/**
Text weight
*/

.text {
  &-bold {
    font-weight: 500 !important;
  }
  &-bolder {
    font-weight: 600 !important;
  }
  &-regular {
    font-weight: 400 !important;
  }
  &-quoted {
    position: relative;
    &:after {
      content: '"';
    }
    &:before {
      content: '"';
    }
  }
  &-align-justify {
    text-align: justify;
  }
}

.text {
  &-white {
    color: color(bv-white);
  }
  &-grey {
    color: color(bv-grey);
  }
  &-light-grey {
    color: color(bv-light-grey);
  }
  &-sm {
    font-size: 0.85rem !important;
  }
  &-large {
    font-size: 1.2rem !important;
  }
  &-align-left {
    text-align: left !important;
  }
  &-align-right {
    text-align: right !important;
  }
  &-align-center {
    text-align: center !important;
  }
}

/**** Title Class ******* */
.content-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 150%;
  color: #000000;
}
/**** Title Class ******* * /
/*** Font Sizes ************** */

.font-avenir {
  font-family: Avenir;
}
.font-roboto {
  font-family: Roboto;
}
.ft-10 {
  font-size: 10px !important;
}
.ft-12 {
  font-size: 12px !important;
}
.ft-14 {
  font-size: 14px !important;
}
.ft-16 {
  font-size: 16px !important;
}
.ft-18 {
  font-size: 18px !important;
}

.ft-20 {
  font-size: 20px !important;
}
.ft-22 {
  font-size: 22px !important;
}
.ft-24 {
  font-size: 24px !important;
}
.ft-28 {
  font-size: 28px !important;
}
.ft-30 {
  font-size: 30px !important;
}
.ft-32 {
  font-size: 32px !important;
}
.ft-34 {
  font-size: 34px !important;
}
.ft-36 {
  font-size: 36px !important;
}
/*** Font Sizes  ************** */

/*** Truncate Text ************** */

.truncate,
.truncate-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.truncate {
  -o-line-clamp: 1;
  -ms-line-clamp: 1;
  -webkit-line-clamp: 1;
}

.truncate-2 {
  -o-line-clamp: 2;
  -ms-line-clamp: 2;
  -webkit-line-clamp: 2;
}

.truncate-3 {
  -o-line-clamp: 3;
  -ms-line-clamp: 3;
  -webkit-line-clamp: 3;
}
/*** Overflow ************** */

.overflow-y-auto {
  overflow-y: auto !important;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-hidden {
  overflow: hidden !important;
}
/*** Position ************** */

.position-sticky {
  position: sticky;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.right-0 {
  right: 0;
}

.left-0 {
  left: 0;
}
/*** Index ************** */

.z-index-1 {
  z-index: 1;
}

.z-index-0 {
  z-index: 0;
}

.z-index-inf {
  z-index: 9399392932993923;
}
/*** Width ************** */

.width- {
  &25 {
    width: 25% !important;
  }
  &30 {
    width: 30% !important;
  }
  &50 {
    width: 50% !important;
  }
  &100 {
    width: 100% !important;
  }
  &auto {
    width: auto !important;
  }
  &fit-content {
    width: fit-content !important;
  }
  &fill-screen {
    width: 100vh !important;
  }
}
/*** Height ************** */

.height- {
  &25 {
    height: 25% !important;
  }
  &50 {
    height: 50% !important;
  }
  &100 {
    height: 100% !important;
  }
  &auto {
    height: auto !important;
  }
  &fit-content {
    height: fit-content !important;
  }
  &fill-screen {
    height: 100vh !important;
  }
}
/*** line-height ************** */

.line-height-0 {
  line-height: 0 !important;
}

.line-height-50 {
  line-height: 54px !important;
}

.line-height-default {
  line-height: 1.5 !important;
}
/*** divider ************** */

.dot-divided {
  display: flex;
  flex: 1;
  align-items: center;
  &-large {
    & > *:not(:last-child) {
      margin-right: 18px;
      ::after {
        height: 5px;
        width: 5px;
        top: calc(50% - 2.5px);
        right: calc(-0.5rem - 2.5px);
      }
    }
  }
  &-small {
    & > *:not(:last-child) {
      margin-right: 1rem;
      &::after {
        height: 2px;
        width: 2px;
        top: calc(50% - 1px);
        right: calc(-0.5rem - 1px);
      }
    }
  }
  &-medium {
    & > *:not(:last-child) {
      margin-right: 15px;
      &::after {
        height: 4px;
        width: 4px;
        margin-left: 2px;
        top: calc(50% - 2px);
        right: -7px;
      }
    }
  }
  &-dark {
    & > *:not(:last-child) {
      &::after {
        background-color: color(a-grey-50) !important;
      }
    }
  }
  &-light {
    & > *:not(:last-child) {
      &::after {
        background-color: color(a-white) !important;
      }
    }
  }
  & > *:not(:last-child) {
    position: relative;
    &::after {
      display: inline-block;
      position: absolute;
      margin-left: 5px;
      top: calc(50% - 1px);
      height: 2px;
      width: 2px;
      content: "";
      border-radius: 50%;
      background-color: color(a-white);
    }
  }
}

/**** Link Styling ***** */
.pink-link {
  color: #b558f9;
  text-decoration: none !important;
  &:hover {
    color: #b558f9;
  }
}
/**** Link Styling ***** */

.user-post {
  display: flex;
  color: color(a-grey-50);
  img {
    height: 40px !important;
    width: 40px !important;
    border-radius: 8px;
    object-fit: contain;
  }
}

* {
  box-sizing: border-box;
}

.float-right {
  float: right;
}

.line {
  &-thin {
    border-bottom: 1px solid #e7e6e6;
  }
}

.d-none {
  display: none;
}

.hr {
  border: 0;
  height: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.container {
  position: relative;
  width: 250px;
  height: 64px;
}

/*** Margin spacing properties ************** */

.ml-0,
.mx-0,
.m-0 {
  margin-left: 0 !important;
}

.ml-4,
.mx-4,
.m-4 {
  margin-left: 0.25rem !important;
}

.ml-8,
.mx-8,
.m-8 {
  margin-left: 0.5rem !important;
}

.ml-12,
.mx-12,
.m-12 {
  margin-left: 0.75rem !important;
}

.ml-16,
.mx-16,
.m-16 {
  margin-left: 1rem !important;
}

.ml-24,
.mx-24,
.m-24 {
  margin-left: 1.5rem !important;
}

.ml-32,
.mx-32,
.m-32 {
  margin-left: 2rem !important;
}

.ml-40,
.mx-40,
.m-40 {
  margin-left: 2.5rem !important;
}

.ml-48,
.mx-48,
.m-48 {
  margin-left: 3rem !important;
}

.ml-56,
.mx-56,
.m-56 {
  margin-left: 3.5rem !important;
}

.mr-0,
.mx-0,
.m-0 {
  margin-right: 0 !important;
}

.mr-4,
.mx-4,
.m-4 {
  margin-right: 0.25rem !important;
}

.mr-8,
.mx-8,
.m-8 {
  margin-right: 0.5rem !important;
}

.mr-12,
.mx-12,
.m-12 {
  margin-right: 0.75rem !important;
}

.mr-16,
.mx-16,
.m-16 {
  margin-right: 1rem !important;
}

.mr-24,
.mx-24,
.m-24 {
  margin-right: 1.5rem !important;
}

.mr-32,
.mx-32,
.m-32 {
  margin-right: 2rem !important;
}

.mr-40,
.mx-40,
.m-40 {
  margin-right: 2.5rem !important;
}

.mr-48,
.mx-48,
.m-48 {
  margin-right: 3rem !important;
}

.mr-56,
.mx-56,
.m-56 {
  margin-right: 3.5rem !important;
}

.mt-0,
.my-0,
.m-0 {
  margin-top: 0 !important;
}

.mt-4,
.my-4,
.m-4 {
  margin-top: 0.25rem !important;
}

.mt-8,
.my-8,
.m-8 {
  margin-top: 0.5rem !important;
}

.mt-12,
.my-12,
.m-12 {
  margin-top: 0.75rem !important;
}

.mt-16,
.my-16,
.m-16 {
  margin-top: 1rem !important;
}

.mt-24,
.my-24,
.m-24 {
  margin-top: 1.5rem !important;
}

.mt-32,
.my-32,
.m-32 {
  margin-top: 2rem !important;
}

.mt-40,
.my-40,
.m-40 {
  margin-top: 2.5rem !important;
}

.mt-48,
.my-48,
.m-48 {
  margin-top: 3rem !important;
}

.mt-56,
.my-56,
.m-56 {
  margin-top: 3.5rem !important;
}

.mb-0,
.my-0,
.m-0 {
  margin-bottom: 0 !important;
}

.mb-4,
.my-4,
.m-4 {
  margin-bottom: 0.25rem !important;
}

.mb-8,
.my-8,
.m-8 {
  margin-bottom: 0.5rem !important;
}

.mb-12,
.my-12,
.m-12 {
  margin-bottom: 0.75rem !important;
}

.mb-16,
.my-16,
.m-16 {
  margin-bottom: 1rem !important;
}

.mb-24,
.my-24,
.m-24 {
  margin-bottom: 1.5rem !important;
}

.mb-32,
.my-32,
.m-32 {
  margin-bottom: 2rem !important;
}

.mb-40,
.my-40,
.m-40 {
  margin-bottom: 2.5rem !important;
}

.mb-48,
.my-48,
.m-48 {
  margin-bottom: 3rem !important;
}

.mb-56,
.my-56,
.m-56 {
  margin-bottom: 3.5rem !important;
}

.mt-auto,
.my-auto,
.m-auto {
  margin-top: auto !important;
}

.mr-auto,
.mx-auto,
.m-auto {
  margin-right: auto !important;
}

.mb-auto,
.my-auto,
.m-auto {
  margin-bottom: auto !important;
}

.ml-auto,
.mx-auto,
.m-auto {
  margin-left: auto !important;
}
/*** flex properties ************** */

/*** Horizontal Lines ******* */

.divide {
  border: 1px solid rgba(37, 37, 37, 0.15);
  width: 95% !important;
  margin-top: 2%;
}
.animation {
  animation-duration: $animationDuration;
}

ul.vti__dropdown-list {
  left: -10px !important;
  width: 200px !important;
}
.vue-tel-input-danger {
  background: #fef4f4 !important;
  /* Red */

  border: 1px solid #e41f2d !important;
  box-sizing: border-box !important;
  border-radius: 5px !important;
}

.vti__input-danger {
  input {
    background: #fef4f4 !important;
  }
}

.clear-line {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.alaje-badge {
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  padding: 8px 10px;
  &-success {
    background: linear-gradient(95.36deg, rgba(3, 218, 141, 0.15) 1.64%, rgba(9, 239, 163, 0.15) 100%);
    color: #09efa3 !important;
  }
  &-pending {
    background: linear-gradient(95.36deg, rgba(1, 203, 255, 0.15) 1.64%, rgba(1, 147, 255, 0.15) 100%);
    color: #0193ff !important;
  }
  &-cancel {
    background: linear-gradient(95.36deg, rgba(244, 161, 54, 0.15) 1.64%, rgba(252, 208, 0, 0.15) 100%);
    color: #fcd000 !important;
  }
}
